$background-color: #f4f4f4;
$button-hover-color: #e0e0e0;
$button-active-color: #d0d0d0;

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $background-color;
  @include center-content;
  flex-direction: column;
  height: 60vh; 
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.instructions {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #666;
}

input, button {
  padding: 12px 20px;
  font-size: 1.1em; 
  margin: 10px;
  border-radius: 8px;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-color; 
  }

  &:active {
    background-color: $button-active-color; 
  }
}

#moviesList, #similarMoviesList {
  margin-top: 20px;
  width: 90%; 
  margin: 20px auto; 
}
